@use "../breakpoints" as *;

.choices {
  width: 100%;
  border-radius: 8px;
  background-color: var(--color-input);
  color: var(--color-text-primary);
  position: relative;

  &::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    transform: rotate(-135deg);
    right: 20px;
    background-color: var(--color-input);
    border-left: 2px solid var(--color-text-primary);
    border-top: 2px solid var(--color-text-primary);
    transition: transform 0.3s ease;
  }

  &.is-open {
    &::before {
      transform: rotate(45deg);
      top: 15px;
    }
  }
}

.choices__inner {
  min-height: 42px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: var(--color-input);
  color: var(--color-text-primary);
  padding-left: 10px;
}

.choices__inner .choices__item--selectable {
  padding: 10px 10px 10px 0;
}

.choices__list--dropdown.is-active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  position: relative;
}

.choices__list--dropdown {
  position: absolute;
  background-color: var(--color-input);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: opacity 0.25s ease, transform 0.25s ease;
  z-index: 20;
  padding: 10px;
}

.choices__list {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.choices__item--selectable:not(.choices__placeholder) {
  border-radius: 8px;
  color: var(--color-text-primary);
  background-color: var(--color-input);
  cursor: pointer;
}

.choices__list--dropdown.is-active .choices__item:hover {
  background-color: var(--color-text-dark);
}
