@use '../breakpoints' as *;
@use '../mixins' as *;

.footer {
    display: grid;
    gap: 20px;
    text-align: center;
    padding-block: 20px;
  margin-top: auto;

    @include border-radiant(top);

    &__socials {
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    &__social-link {
        color: var(--color-social-icon);
        transition: color 0.2s;

        &:hover {
            color: var(--color-social-icon-hover);
        }
    }

  &__text {
    color: var(--color-text-secondary);
    font-size: 14px;
  }

  @include bp-tablet {
    &__text {
      font-size: 16px;
    }
  }
}
