@use '../breakpoints' as *;
@use '../mixins' as *;

.header {
  position: fixed;
  background-color: var(--color-background);
  width: 100%;
  z-index: 100;

  @include border-radiant();
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  position: relative;
    padding-block: 20px;
  margin-inline: auto;

    &__menu {
        display: flex;
        gap: 4px;
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-transform: uppercase;
    }

    &__link {
        color: var(--color-text-primary);
        font-weight: 700;
        letter-spacing: 1px;
        transition: color 0.2s;
        font-size: 12px;
        position: relative;
        padding: 8px 12px;

        &::before,
        &::after {
            content: '';
            height: 14px;
            width: 14px;
            position: absolute;
            transition: all .35s ease;
            opacity: 0;
        }

        &::before {
            right: 0;
            top: 0;
            border-top: 3px solid var(--color-accent);
            border-right: 3px solid var(--color-accent);
            transform: translate(-100%, 50%);
        }

        &:after {
            left: 0;
            bottom: 0;
            border-bottom: 3px solid var(--color-accent-hover);
            border-left: 3px solid var(--color-accent-hover);
            transform: translate(100%, -50%)
        }

        &:hover,
        &:focus {
            color: var(--color-text-primary-hover);

            &::before,
            &::after {
                transform: translate(0, 0);
                opacity: 1;
            }
        }
    }

    @include bp-tablet {

        &__menu {
            gap: 16px;
        }

        &__link {
            font-size: 16px;
        }

    }
}
