:root {
    --color-background: #1f1f1f;
    --color-background-alt: #121212;
    --color-text-primary: #ffffff;
    --color-text-primary-hover: #f5f5f5;
    --color-text-secondary: #c4c4c4;
    --color-text-secondary-alt: #b0b0b0;
    --color-text-dark: #292929;
    --color-accent: #e600ff;
    --color-accent-alt: #ff00cc;
    --color-accent-hover: #d946ef;
    --color-accent-hover-alt: #e879f9;
    --color-button-outline: #ff00cc;
    --color-button-outline-alt: #d946ef;
    --color-social-icon: #ffffff;
    --color-social-icon-hover: #ff00cc;
    --color-input: #545252;
}