@use './normalize' as *;
@use './color-palette' as *;
@use './breakpoints' as *;
@use './mixins' as *;
@use '../assets/fonts/fonts' as *;
@use 'partials/choices' as *;
@use 'partials/button' as *;
@use 'partials/project-card' as *;
@use 'partials/header' as *;
@use 'partials/about' as *;
@use 'partials/skills' as *;
@use 'partials/projects' as *;
@use 'partials/contact' as *;
@use 'partials/footer' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Goldman', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    background: var(--color-background);
    color: var(--color-text-primary);
    margin: 0;
    padding: 0;
    height: 100dvh;
}

.page-container {
    --container-width: 340px;
    --container-gap: 10px;
    width: calc(var(--container-width) + var(--container-gap) * 2);
    margin-inline: auto;
    margin-block: 64px 24px;
    padding-inline: 10px;
    border-radius: 1rem;

    @include bp-tablet {
        --container-width: 768px;
        --container-gap: 16px;
    }
}

a {
    text-decoration: none;
}

.heading {
    color: var(--color-text-primary);
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    margin-bottom: 16px;
}

.sr-only {
  @include visually-hidden;
}
